PORT=5001
MONGODB_URI=mongodb://localhost:27017/bloom
JWT_SECRET=araq_jwt_secret_token_key_123456

# SMTP Credentials for Email OTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=crsongirkar2@gmail.com
SMTP_PASS=cjee toyn jhlh bvll
SMTP_FROM="ARAQ Herbal" <crsongirkar2@gmail.com>
